.button {
  background: var(--btn-primary-bg);
  font-weight: 700;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  line-height: 1;
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--radius);
  font-size: var(--text-md);
  color: var(--color-text-light);
  transition: .2s;
  border: none;
}

.button:hover {
  background-color: var(--btn-primary-hover);
}

.button:disabled{
  background: var(--btn-disabled-bg);
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.6;
} 