.button {
  background: var(--color-black);
  cursor: pointer;
  display: inline-block;
  font-size: var(--text-md);
  color: var(--color-white);
  border-radius: 4px;
  padding: 8px;
  border: none;
  width: auto;
}

.button:disabled{
  border: red 2px solid;
}
