:root {
  --color-black: #170f11;
  --color-grey: #817f75;
  --color-blue: #009ddc;
  --color-blue-light: #5cc3eb;
  --color-white: #ffffff;
  --color-red: #f5414f;

  --color-primary: var(--color-blue);
  --color-primary-light: var(--color-blue-light);
  --color-input: var(--color-white);
  --color-text-dark: var(--color-black);
  --color-text-light: var(--color-white);
  --color-border: var(--color-grey);
  --color-error: var(--color-red);

  --btn-primary-bg: var(--color-primary);
  --btn-primary-hover: var(--color-primary-light);
  --btn-primary-active: var(--color-primary-dark);
  --btn-primary-label: var(--white);
  --btn-disabled-bg: var(--color-grey);
  --btn-disabled-label: var(--gray-10);
}
