@import './colors.css';
@import './spacing.css';
@import './typography.css';

:root {
  --radius: 8px;
}

body {
  box-sizing: border-box;
  margin: 0;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 3px solid var(--color-primary);
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

input {
  font-size: var(--text-md);
}
