@import "./colors.css";
@import "./spacing.css";
@import "./typography.css";

:root {
  --radius: 8px;
  --box-shadow: 0px 1px 15px -2px;
  --box-shadow-light: 2px 2px 6px 0px;
}

html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  box-sizing: border-box;
  margin: 0;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 3px solid var(--color-primary);
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

input {
  font-size: var(--text-md);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


