.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageBox {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.imageBox .image {
  width: 100%;
  border-radius: var(--radius);
}
